
@import url('https://fonts.googleapis.com/css?family=Abel|Josefin+Slab|Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chathura&display=swap');
@font-face { font-family: JuneBug; src: url('HARRYP__.TTF'); }; 



#homeBackground{
    background-image: url('https://cdn.pixabay.com/photo/2019/08/15/11/16/nature-4407818_1280.jpg');
    height: 80%;
    width: 80%;
    
}


* {
    margin: 0px;
    padding: 0px;
   
}


body{
    font-family: 'Josefin Slab', serif;
    background-color: #fafaf9;
}
/* 
#bottom{
    position: relative;
    bottom: -100em;
} */

#navBar{
    /* position: fixed; */
    display: flex;
    background-color: #2960368f;
    width: 100%;
    align-items: center;
    height: 50%;
    border-bottom-style: dashed;
    border-width: 0.1em;
    justify-content: space-around;
}

#navBarScrolled{
    position: fixed;
    display: flex;
    background-color: #2960368f;
    width: 100%;
    align-items: center;
    height: 12%;
    border-bottom-style: dashed;
    border-width: 0.1em;
    justify-content: space-around;
    transition: ease-in;
    /* transform: scale(0); */
}

nav{
 
    flex: 0.2;
}

#navIcon{
    flex: 0.1;
}

#nav-links{
    justify-content: space-around; 
    display: flex;
    list-style: none;
    font-size: 20px;
}

.nav-link{
    text-decoration: none;
}





#hello{
    font-size: 2.7em;
    text-shadow: 0px 1px, 1px 0px, 1px 0px;
    line-height: 1.5;
    color: rgb(19, 48, 79);
    font-weight: 900;
    margin-bottom: 3%;
    padding-top: 4%;
    margin-left: 31.5%;
    transition: ease-in;
}

#secondLine{
    margin: 0 0.5%;
  
}

#navIcon{
    line-height: 1.5;
   
}

#backMountain{

    width: 98%;
    padding-top: 20%;
    padding-left: 14%;
}

#projects{
    /* background-color: blue; */
    margin-top: 10% ;
     justify-content: center;
}

#introduction{
    background-color: rgba(251, 235, 220, 0.424);    
    height: 59.5vw;
    display: flex;
    flex-direction: column;
    
}


.projectImages{
    /* border-style: solid;
    border-color: #0f0101d3; */
    /* border-radius: 20px 0; */
    box-shadow: 5px 5px 10px black;
    width: 25vw;
    height: 20vw;
    object-fit: cover;
}

#mountain{

    position: relative;
    width: 100%;
    bottom: 24em;
    right: 12em;
    
}

#about{
    display: flex;
    align-items: center;
    background-color: #535353;
    width: 100%;
    height: 22vw;
    flex-direction: row;
}

#aboutMeText{
    margin: 1% 10% 0 -3%;
    font-size: 1.3em;
    color: #fce8d4d6;
    line-height: 1.5;
}

#aboutMe{
    position: relative;
    left: 6%;
    bottom: 28%;
    width: 33%;
}

#aboutImg{
    border-radius: 28px;
    width: 12%;
    margin-left: 11%;
}

#recentProjects{
    color: rgb(0, 0, 0);
    margin: 0 30%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-bottom-style: solid;
    border-top-style: solid;
    font-size: 6em;
}

#allProjects{

    margin: 10% 17%;
  
}

#OurStory{

    margin-top: 20%;
    display: flex;
}

#Marauder{

    margin-top: 15%;
    border-color: #5353536b;
    border-top: solid;
    padding-top: 15%;
    margin-bottom: 15%;
    display: flex;
    border-bottom: solid;
    padding-bottom: 15%;
    
}

#TriviaMaster{
    
    display: flex;
}

#logos{
    
    position: relative;
    top: 37%;
    left: 56%;
}

.logo{
 border-radius: 10px ;
  width: 2%;
  height: 2.5%;
}

#hub{
    margin: 0 2%
}

.projectText{

    font-size: 1.3em;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    margin: 0 4%;
}

#ourStoryTitle{
    
    margin-top: -5%;
    margin-bottom: 4%;
    margin-left: 15%;
    font-family:'Molle' ;
    font-size: 4.5vw;
    color: rgba(216, 245, 53, 0.9);
    text-shadow: 0 5px 0 rgb(77, 46, 11),
                0 5px 0 rgb(77, 46, 11),
                0 3px 0 rgb(77, 46, 11);
             
}

#marauderTitle{
    margin-bottom: 3%;
    font-size: 6vw;
    margin-left: 3%;
    font-family: JuneBug;
    margin-top: -2%;
}

#triviaTitle{
 
    font-size: 3.5vw;
    margin-bottom: 5%;
    margin-left: 15%;
    font-family: 'Permanent Marker';
    color:#00ace6;
    animation: animate 2s linear infinite;
}



@keyframes animate{ 
    50%, 50%
    {
    color: #ff1a66;
    text-shadow: 0 0 50px rgb(0, 195, 255),
                 0 0 100px cyan;
  
    
    };
   
    50%, 50%
    {
      color: #00ff55;
    
    };
  }

  #contactForm{
    background-color: #535353;
    height: 20vmax;      
  }
  
  #tree{
    width: 13vmax;
    margin: 14.8% 0 0 42%;
  }

  /* #tree2{
    margin-left: 69.5%;
  } */
/* 
.imageHover{
    width: 800px;
    height: 500px;
}

.imageHover{
    
    transform: scale(0);
} */

/* .imageHover:hover{
    content: "";
    background-color: #3e3f3ea8;
    width: 800px;
    height: 500px;
    display: block;
    position: absolute;
    transform: scale(1);
    transition: step-end 0ms;
}

.demo::before{
    content: "See Demo";
    position: absolute;
    right: 1em;
    display: block;
    font-size: 60px;
    color: white;
    transform: scale(0);
}

.demo:hover::before{
    transform: scale(1);
    text-align: center;
} */

