@media (max-width: 414px) and (max-height: 736px){

   #mountain{
    width: 103%;
    bottom: -5vw;
    right: 15vw;
   }

    #aboutMe{
     position: relative;
     left: -27.5vw;
     font-size: 7vw;
     bottom: -10vw;
     border-bottom: solid;
    }

    #aboutImg{
     opacity: 0;
     width: 0;
    }
    
    #about{
        width: 100vw;
        height: 82vh;
        flex-direction: column;
    }

    #introduction{
        height: 82vh;
    }

    #hello{
        margin: 3vh 0 3vw 2vw;
        font-size: 7.3vw;
        text-shadow: 0px 0;
    }

    #logos{
        top: 10vw;
        left: 27%;
    }

    .logo{
        width: 16%;
    }

    #aboutMeText{
        margin: 15% 6%;        
        font-size: 5.5vw;
        line-height: 1.3;
        line-height: 1.7;
    }

    #hub{
        margin: 0 9%;
    }

    #backMountain{
        padding-top: 23%;
    }

    #recentProjects{
        margin: 12vh 10vw;
        justify-content: center;
        font-size: 11.5vw;

    }

    #allProjects{
        margin: 10% 5%
    }

    .projectImages{
        width: 90vw;
        height: 40vh;
    }

    .projectText{
        display:none;
    }

    .seeDemo{
        margin: 0 20%
    }

    .overlay{
        opacity: 0;
    }
}