@media (max-width: 414px) and (max-height: 836px){

   #mountain{
    width: 103%;
    bottom: -5vw;
    right: 15vw;
   }

    #aboutMe{
     position: relative;
     left: -27.5vw;
     font-size: 7vw;
     bottom: -10vw;
     border-bottom: solid;
    }

    #aboutImg{
     opacity: 0;
     width: 0;
    }
    
    #about{
        width: 100vw;
        height: 82%;
        flex-direction: column;
    }

    #introduction{
        height: 100%;
        margin-bottom: 10%;
    }
   
    #hello{
        margin: 3vh 0 3vw ;
        padding-left: 3%;
        font-size: 7.3vw;
        text-shadow: 0px 0px 0px;
    }

    #logos{
        top: 10vw;
        left: 27%;
    }

    .logo{
        width: 16%;
        height: 16%
    }

    #aboutMeText{
        margin: 15% 6%;        
        font-size: 5.5vw;
        line-height: 1.3;
        line-height: 1.7;
    }

    #hub{
        margin: 0 9%;
    }

    #backMountain{
        padding-top: 23%;
    }

    #recentProjects{
        margin: 12vh 10vw;
        justify-content: center;
        font-size: 11.5vw;

    }

    #allProjects{
        margin: 10% 5%
    }

    .projectImages{
        width: 90vw;
        height: 40vh;
    }

    .projectText{
        display:none;
    }

    .seeDemo{
        margin: 0 20%
    }

    .overlay{
        opacity: 0;
    }

    .overlay:hover{
        opacity: 0;
    }

    #contactForm{
        margin-top: 29%;
        height: 20vh;
    }

    #contactMe{
        font-size: 8vw;
        margin: 6.8% 29% 1%;
    }

    #dots{
        font-size: 4vw;
        margin: 0 44.5% 0%;
    }

    .contactIcons{
        width: 4.8vw;
    }

    #mailIcon {
        width: 5.1vw;
    }

    #contactDiv {
        margin: 0 29.5% 0 34.5%;
    }

    #copyright {
        margin: auto;
        font-size: 1em;
        }

        #secondLine{
            margin-left: 0.5%;
        }
}


@media (max-width: 1800px) and (max-height: 414px){


    #introduction{
        height: 85vw;
        width: 100%;
    }

    #hello{
        margin: 3vh 0 8vw 23%;        
        font-size: 4.3vw;
        text-shadow: 0px 0px 0px;
    }

    .logo{
        width: 7%;
        height: 7%;
    }

    #logos {
        left: 49%;
        }

    #backMountain {
        padding-top: 23%;
    }

    #about{
        height: 90vh;
        width: 100%;
        background-color: rgba(251, 235, 220, 0);    }

    #aboutImg{
        width: 22%;
        margin-left: 2%;
        margin-bottom: 3%;
    }

    #aboutMe {
     
        font-size: 3.7vw;
        border-bottom: solid;
        white-space: nowrap;
        bottom: 40%;
    }

     #aboutMeText {
        margin: 5% 5% 0 -10%;
        font-size: 3vw;
        color: black;
      
    }

    #recentProjects{
        margin: 0 13%;
        font-size: 11vw;
    }

    .projectImages {
        width: 40vw;
        height: 37vw;
    }

    #allProjects {
        margin: 10% 0 10% 4%;
    }

    .projectText{
        font-size: 2.8vw;
        margin-left: 5%;
        font-weight: 800;
    }

    #ourStoryTitle{
        margin-top: -20%;
    }

    #marauderText{
        margin-left: -2%;
        font-size: 3vw;

    }

    #Marauder{

        margin-right: 4%;
    }

    .overlay{
        opacity: 0;
    }

    .overlay:hover{
        opacity: 0;
    }

    .seeDemo{
        display: none;
    }

    #contactForm{
        height: 40vh;
        background-color: rgba(251, 235, 220, 0);   
     }

    #contactMe{
        color: black;
        font-size: 5vw;
        margin: -5% 36% 1%;

    }

    #dots{
        font-size: 4vw;
        margin: 0 44.5% 0%;
    }

    .contactIcons{
        width: 4.8vw;
    }

    #mailIcon {
        width: 5.1vw;
    }

    #contactDiv {
        margin: 0% 29.5% 2% 34.5%;
    }

    #copyright {
        margin: auto;
        font-size: 1em;
        
    }

}